*{
    margin: 0px;
    padding: 0px;
}
.mid{
    width: 45%;
    background-color: #b4ff8e;
    margin: 5px auto;
    height: 100vh;
    border-radius: 10px;
}
.heading{
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.focu:hover{
    color: white !important;
}