*{
    margin: 0px;
    padding: 0px;
}
.mid{
    width: 60%;
    text-align: center;
    margin: 0px auto;
    border: 2px solid black;
    padding: 5px;
}
table{
    width: 100%;
}
td{
    margin: 5px;
    padding: 10px;
    border: 1px solid red;
}
.tdhead{
    font-size: 18px;
    font-weight: 700;
    
}